{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Room #{{ subject_name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <textarea name="chat_box" id="chat_box" cols="65" rows="10"></textarea>
                <div class="form-group">
                    <label for="message_input"></label>
                    <input type="text" class="form-control" id="message_input" placeholder="type message">
                    <button id="send_btn" class="btn btn-default">send</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
        function init() {
            var con_url = 'ws://127.0.0.1:8080/ws/room/{{ subject_name }}';
            var socket = new WebSocket(con_url);
            socket.onopen = function (data) {
                console.log('current connection ' + con_url);
            };
            socket.onmessage = function (data) {
                console.log(data);
                $('#chat_box').val($('#chat_box').val() + data.data + '\n');

                var message_box = $('#chat_box');
                var scroll_height = message_box.prop("scrollHeight");
                message_box.scrollTop(scroll_height);
            };
            socket.onerror = function (data) {
                console.log(data);

            };

            $('#send_btn').on('click', function() {
                var message = $('#message_input').val();
                $('#message_input').val('');
                socket.send(message);
                console.log('clicked send');
                $('#message_input').focus();
            });
            $('#message_input').on('keyup', function(e) {
              if (e.keyCode === 13) {
                  $('#send_btn').click();
              }
          });
        }
        $(document).ready(function() {
            init();
        });
</script>
{% endblock scripts %}
