{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ subject_name }} - hourly history</h3>
            </div>
        </div>
        <div class="row">
            {% for hour in hours %}
                <a href="/history/room/{{ subject_name }}/{{ hour }}">Hour - {{ hour }}</a><br>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
