{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <h4>Rooms</h4>
            </div>
        </div>
        {% for subject in subjects %}
            <div class="row">
                <div class="col-md-3">
                    <a href="/room/{{ subject.name }}">{{ subject.name }}</a> -
                    <a href="/history/room/{{ subject.name }}">history</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
